.cards{
    display: inline-block;
    margin: 20px 40px;
    text-align: center;
}

h1{
    text-align: center;
    color: #f9f9f9;
    margin: 0 0 10px 0;
}



img{
    margin: 20px 0;
}
.look{
    margin-left: 100px;
}

h3{
    color: #f9f9f9;
}