<section>
    <h1>Contatos</h1>
    <div class="look">
        <div class="cards">
            <img src="assets/img/icons/email.png" alt="">
            <h3>E-mail</h3>
            <p>lucas.baggio.silva@gmail.com</p>
        </div>
        <div class="cards">
            <img src="assets/img/icons/phone.png" alt="">
            <h3>Telefone</h3>
            <p>lucas.baggio.silva@gmail.com</p>
        </div>
        <div class="cards">
            
                <img src="assets/img/icons/linkedin.png" alt="">
            
            <h3>Linkedin</h3>
            <p>lucas.baggio.silva@gmail.com</p>
        </div>
        <div class="cards">
            <img src="assets/img/icons/github.png" alt="">
            <h3>Github</h3>
            <p>GokuDBZSSJ7</p>
        </div>
    </div>
</section>
