.container{
    text-align: center;
}

h2{
    color: #F9F9F9;
}

.item{
    margin: 30px 0;

    img{
        margin:0  20px ;
        background-color: #212121;
        padding: 30px 25px;
        border-top-left-radius: 2.5rem;
        border-bottom: 3px solid #8257E6;

        
    }
}

.top{
    margin-top: 60px;
}