<section>
    <h1>Projetos</h1>
    <h2>Destaques</h2>
    <div class="rows">
        <img src="assets/img/projetos/paulo.webp" alt="">
        <img src="assets/img/projetos/immobily.jpeg" alt="">
        <img src="assets/img/projetos/geminis.jpeg" alt="">
    </div>
    <div class="rows">
        <img src="assets/img/projetos/spotiBaggio.jpeg" alt="">
        <img src="assets/img/projetos/pizzaria.jpeg" alt="">
        <img src="assets/img/projetos/sorveteria.jpeg" alt="">
    </div>
</section>
